:root {
    --branco: #fff;
    --cor1-fontes: #2d4058;
    --cor2-fontes: #467b94;
    --cor-back: #a0b8be;
    --cor-abas: #2d4058;
    --fonte1: "Lily Script One", system-ui;
    --fonte2: "Lexend", sans-serif;
}

h1,h2,h3 {
    font-family: var(--fonte1);
}

h2 {
    font-size: 2.5rem;
    color: var(--cor1-fontes);
}

header {
    padding: .75rem 0;
    background-color: var(--cor-abas);
    color: var(--branco);
}

.cabecalho {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.cabecalho h1 {
    font-size: 2.25rem;
}

.cabecalho ul {
    display: flex;
    gap: 1rem;
}

.cabecalho a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1.25rem;
}

body {
    background-color: var(--cor-back);
    font-family: var(--fonte2);
}

#sobre {
    max-width: 85vw;
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
}

#sobre div {
    max-width: 50%;
}

#sobre div h2 {
    margin-bottom: .75rem;
}

#sobre div p {
    text-align: justify;
    font-size: 1.25rem;
}

#sobre div p strong {
    font-weight: bold;
}

#sobre img {
    max-width: 25vw;
    max-height: 25vw;
    border-radius: 5%;
}